{% extends 'base.html' %}
{% load static %}

{% block body %}
<br>
<br> 
<center>
    <div class="col-5 shadow ">

        <form method="POST">
            {% csrf_token %}
            <h3>Login</h3>
            <br>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Please enter registered Email Id</small>
            </div>
           
            {% if error %}
            <div class="alert alert-warning" role="alert">
               {{error}}
              </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            
        </form>

    </div>
</center>
<br>
<br>
{% endblock body %}
    